.scorllabe-list {
    height: auto;
    max-height: 800px;
    overflow-x:auto;
}

div.cellphone {
    position: relative;
    width: 414px;
    height: 736px;
    margin-left: 10px;
    border: 3px solid #73AD21;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.portrait {
    height: 50%;
    width: 50%;
}

.line {
  vertical-align: middle;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid grey;
}